@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.body{
    max-width: 1440px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.school{
    font-size: 32px;
    font-weight: bold;
}

.header-2{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.div-button{
    display: flex;
    justify-items: center;
}

.ul{
    list-style: none;
}

.list{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.span-1{
    color: orange;
}
.span-2{
    color: skyblue;
}
.span-3{
    color: #05D4DF;
}
.span-4{
    color: #5D58EF;
}

.btr{
    padding: 10px 60.5px;
    background-color: orange;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.hambarger > div{
    background-color: black;
    width: 30px;
    height: 2px;
    margin: 3px 0;
}

.hambarger{
    display: none;
}

.navv{
    border: 1px solid orange;
}

.hr{
    display: none;
}

.section-1{
    display: flex;
    justify-content: space-between;
}

.div-1{
    max-width: 640px;
    /* height: 331px; */
}

.head-2{
    /* text-align: justify; */
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.para-1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btr-2{
    padding: 10px 47px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.image-1{
    max-width: 468.61px;
    height: 575px;
}

.section-2{
    background-image: url(../assets/bg.png);
    text-align: center;
}

.heading{
    font-size: 2.87rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.div-2{
    display: flex;
    justify-content: space-between;
    gap: 28.29px;
    margin-bottom: 80px;
}

.im{
    width: 136.76px;
    height: 136.76px;
}

.divv-1{
    background-image: linear-gradient( #DEF5FF, white);
    box-shadow:0px 0px 20.3px 7.94px rgba(0, 0, 0, 0.05) ;
    border-radius: 18.86px;
    padding: 52.82px 40.88px 53.76px 40.88px;
}

.divv-2{
    background-image: linear-gradient( #FFF4DC, white);
    box-shadow:0px 0px 20.3px 7.94px rgba(0, 0, 0, 0.05) ;
    border-radius: 18.86px;
    padding: 52.82px 40.88px 53.76px 40.88px;
}
.divv-3{
    background-image: linear-gradient(#F2E8FF, white);
    box-shadow:0px 0px 20.3px 7.94px rgba(0, 0, 0, 0.05) ;
    border-radius: 18.86px;
    padding: 52.82px 40.88px 53.76px 40.88px;
}

.head-3{
    font-size: 1.5rem;
    font-weight: bold;
}

.para-2{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}

.read-me-1{
    font-weight: bold;
    color:rgba(255, 132, 0, 0.945) ;
}
.read-me-2{
    font-weight: bold;
    color:rgb(0, 225, 255) ;
}
.read-me-3{
    font-weight: bold;
    color:rgb(255, 187, 0) ;
}

.img{
    width: 60px;
    height: 60px;
}







@media screen and (max-width:576px) {
    .school,
    .header-2,
    .ul,
    .btr,
    .img{
        display: none;
    }

    .hambarger{
        display: flex;
        flex-direction: column;
        padding: 27.5px 19.75px 27.5px 347.75px;
    }

    .hr{
        display: flex;
        border-bottom: 1px solid orange;
        margin-bottom: 28px;
    }

    .btr-2{
        padding: 6px 24px;
    }

    .section-1{
        flex-direction: column-reverse;
    }
    .section-1,
    .div-1,
    .head-2,
    .para-1,
    .btr-2{
        text-align: center;
        margin-bottom: 20px;
    }

    .div-2{
        flex-direction: column;
    }

}