@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.body{
    max-width: 1152px;
    margin: 0px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.school{
    font-size: 32px;
    font-weight: bold;
}

.header-2{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.div-button{
    display: flex;
    justify-items: center;
}

.ul{
    list-style: none;
}

.ul-2{
    list-style: none;
}

.list{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.span-1{
    color: orange;
}
.span-2{
    color: skyblue;
}
.span-3{
    color: #05D4DF;
}
.span-4{
    color: #5D58EF;
}

.btr{
    padding: 10px 60.5px;
    background-color: orange;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.hambarger > div{
    background-color: black;
    width: 30px;
    height: 2px;
    margin: 3px 0;
}

.hambarger{
    display: none;
}

.navv{
    border: 1px solid orange;
}

.hr{
    display: none;
}

.section-1{
    display: flex;
    justify-content: space-between;
}

.div-1{
    max-width: 640px;

}

.head-2{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.para-1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btr-2{
    padding: 10px 47px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.image-1{
    max-width: 468.61px;
    height: 575px;
}

.section-2{
    background-image: url(../assets/bg.png);
    text-align: center;
}

.heading{
    font-size: 2.87rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.div-2{
    display: flex;
    justify-content: space-between;
    gap: 28.29px;
    margin-bottom: 80px;
}

.im{
    width: 136.76px;
    height: 136.76px;
}

.divv-1{
    background-image: linear-gradient( #DEF5FF, white);
    box-shadow:0px 0px 20.3px 7.94px rgba(0, 0, 0, 0.05) ;
    border-radius: 18.86px;
    padding: 52.82px 40.88px 53.76px 40.88px;
}

.divv-2{
    background-image: linear-gradient( #FFF4DC, white);
    box-shadow:0px 0px 20.3px 7.94px rgba(0, 0, 0, 0.05) ;
    border-radius: 18.86px;
    padding: 52.82px 40.88px 53.76px 40.88px;
}
.divv-3{
    background-image: linear-gradient(#F2E8FF, white);
    box-shadow:0px 0px 20.3px 7.94px rgba(0, 0, 0, 0.05) ;
    border-radius: 18.86px;
    padding: 52.82px 40.88px 53.76px 40.88px;
}

.head-3{
    font-size: 1.5rem;
    font-weight: bold;
}

.para-2{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}

.read-me-1{
    font-weight: bold;
    color:rgba(255, 132, 0, 0.945) ;
}
.read-me-2{
    font-weight: bold;
    color:rgb(0, 225, 255) ;
}
.read-me-3{
    font-weight: bold;
    color:rgb(255, 187, 0) ;
}

.img{
    width: 60px;
    height: 60px;
    margin-bottom: 60px;
}
/*  */

.section-3{
    background-image: linear-gradient(white, rgba(254, 163, 1, 30%));
}

.divi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 19px;
    row-gap: 19px;
    margin-bottom: 60px;
}
.divi-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 18px;
    margin-bottom: 60px;
}

.story-img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-img-2{
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.content{
    background-color: #FFFFFF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;  
    padding: 35px 68px 30px 35px;
    margin-top: -5px;
}
.content-2{
    background-color: #FFFFFF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;  
    padding: 32px 23px 23px 23px;
    margin-top: -5px;
}

.date{
    padding: 15px 19px;
    background-color: #3CD8E8;
    border-radius: 48px;
    border: none;
    position: absolute;
    margin-top: -55px;
    color: white;
}

.d-2{
    background-color: #95B226;
}

.d-3{
    background-color: brown;
}


.main{
    background-color: #01a9fd8f;
    color: white;
    padding: 123px 228.09px 100px 140px;
}

.main-h-3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-h-4{
    font-size: 1rem;
    font-weight: bold;
}

.main-div{
    display: flex;
    justify-content: space-around;
}

.main-div-2{
    display: flex;
    align-items: center; 
}

.main-para{
    max-width: 400px;
}

.main-list{
    text-decoration: none;
    color: white;
}

.listt{
    margin-bottom: 22px;
}

marquee{
    height: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.btr-3{
    padding: 10px 47px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}

.body-2{
    max-width: 1152px;
    margin: 0px auto;
    text-align: center;
}
.body-3{
    max-width: 1152px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 80px;
}

.paraa{
    font-size: 1rem;
    font-weight: bold;
    /* text-align: left; */
}

.paraaa{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
}














@media screen and (max-width:576px) {
    .school,
    .header-2,
    .ul,
    .btr,
    .img,
    .first{
        display: none;
    }

    .image-1{
        max-width: 100%;
    }

    .hambarger{
        display: flex;
        flex-direction: column;
        padding: 27.5px 19.75px 27.5px 347.75px;
    }

    .hr{
        display: flex;
        border-bottom: 1px solid orange;
        margin-bottom: 28px;
    }

    .btr-2{
        padding: 6px 24px;
    }

    .section-1{
        flex-direction: column-reverse;
    }
    .section-1,
    .div-1,
    .head-2,
    .para-1,
    .btr-2{
        text-align: center;
        margin-bottom: 20px;
    }

    .div-2{
        flex-direction: column;
    }

    .main-div,
    .main-list,
    .ul-2{
        display:inline;
        flex-direction: column;
        text-align: left;
    }

    .main-div-2{
        display: flex;
    }

    .main{
        padding: 60px 20px;
    }

    marquee{
        margin-top: 20px;
    }

    .divi-2
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 94vw;
    }

    .content-2{
        padding: 35px 15px 15px 15px;
    }

    

}